@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-500: var(--blue-500);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-600: var(--grey-600);
  --color-grey-700: var(--grey-700);
  --color-white: var(--white);
  --color-white-50: var(--white-50);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-orange: var(--orange) ;
  --color-red: var(--red) ;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto-sans: var(--font-noto-sans);
  --font-nunito: var(--font-nunito);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}



:root {
  --blue-50: #E8EBEF;
  --blue-100: #B8BFCE;
  --blue-200: #96A1B7;
  --blue-500: #1A3262;
  --blue-800: #0E1C36;
  --blue-900: #0B1529;
  --grey-50: #EAEAEA;
  --grey-100: #BCBDBE;
  --grey-200: #A9A9A9;
  --grey-300: #6F7072;
  --grey-400: #242629;
  --grey-500: #282A2D;
  --grey-600: #242629;
  --grey-700: #1C1E20;
  --white: #ffff;
  --white-50: #FCFCFC;
  --yellow: #FFCC00;
  --green: #0B9F1E;
  --orange: #ff7c10;
  --red: #DD5558;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: #fe9a00;
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .shadow{
    @apply shadow-2xs
  }
  .card {
    @apply bg-white-50 border border-grey-50 rounded-[5px]  px-2 py-4;
  }
  .flex-between{
    @apply flex justify-between items-center
  }
  .line {
    @apply w-full h-[1px] bg-grey-50 rounded-sm my-4
  }
  .line-vertical {
    @apply h-[40px] w-[1px] bg-grey-50 rounded-sm mx-1.5
  }
  /* .nav-icon{
    @apply w-[60%] mx-auto 
  } */
  .nav-inactive{
    @apply text-blue-200 
  }
  .nav-active{
    @apply text-blue-500 font-medium  
  }
  .b-secondary{
    @apply py-6 bg-blue-200 text-white text-lg hover:text-blue-500 
  }
  .modal-background{
    @apply w-full absolute top-0 h-full bg-[#161616]/28 z-[100] backdrop-blur-[2px]
  }
  .modal-box{
    @apply w-[90%] mx-auto relative top-56 rounded-sm bg-[#ffff] pb-6
  }
  .dot{
    @apply p-[3px] h-[1px] w-[1px] rounded-full
  }
  .input-label{
    @apply text-[#414651] font-medium text-lg mb-2
  }
  .input-field{
    @apply py-36 placeholder:text-grey-200 placeholder:text-sm bg-white
  }
}
